@import "foundation.css";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px #fff;
}
a {
  color: #3f6a79;
}
a:hover {
  text-decoration: underline;
}
.wrap {
  margin: 0 auto;
  width: 950px;
}
#header {
    height: 180px;
    background-color: #9d8851;
}
#logo	{
    margin-top: 25px;
}
#header .wrap {
  position: relative;
}
#header ul {
  position: absolute;
  top: 160px;
  right: -2px;
  list-style: none;
  line-height: 0;
}
#header li {
  display: inline;
}
#header ul a {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
}
#header p#mission   {
  position: absolute;
  top: 20px;
  left: 550px;
  font: 1.45em/1.5 Georgia, "Times New Roman", serif;
  color: #fff;
  text-align: right;
  font-style: italic;
}
#content {
  clear: both;
  border-top: 1px solid #fff;
  /*background-color: #b4a882;*/
  padding: 18px 0;
  font-size: 1.5em;
}
#content p.intro {
  font: 1.2em/1.375 Georgia, "Times New Roman", serif;
  color: #666;
}
h2 {
  margin-top: 16px;
  margin-bottom: 19px;
  line-height: 1;
}    
h2 span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
h3 {
  margin: .25em 0 .625em;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", serif;
}
#whoweare ul {
  list-style: none;
  overflow: hidden;
  margin-bottom: 38px;
}
#whoweare li {
  display: inline;
}
#whoweare img {
  float: left;
  margin-right: 31px;
  border: 1px solid #c5cfba;
  border-bottom: 6px solid #4c8390;
}
#whoweare a:hover img {
  border-color: #4c8390;
}
#whoweare li.last img {
  margin-right: 0;
}
#communication {
  overflow: hidden;
  padding-bottom: 40px;
  border-top: 3px double #ddd7c6;
}
#updates {
  float: left;
  margin-right: 30px;
  width: 624px;
}
#updates .module {
  margin-bottom: 32px;
  padding: 10px 0 10px 15px;
  background: url(../img/bg-shade.png);
  font-size: 1.1em;
  line-height: 1.375;
}
#updates .module .news-highlight {
  float: left;
  /*width: 410px;*/
  margin-right: 10px;
  /*background: url(../img/bg-footer-col.png) 412px 0 repeat-y;*/
  padding-right: 5px;
}
#updates .module .tweet-stamp {
  float: left;
  width: 174px;
}
#updates .module .tweet-stamp a {
  display: block;	
  position: relative;
  top: -0.7em;
  padding: .85em 10px .85em 15px;
  font-size: .9em;	
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
}
#updates .module .tweet-stamp a:hover {
  text-decoration: none;
  color: #042b34;
}
#updates #jointhelist {
  overflow: hidden;
  clear: left;
}
#updates form {
  float: left;
  padding-left: 15px;
}
#career-info {
  padding-bottom: .5em;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
}
#updates p.feed {
  float: left;
  margin-top: 2.25em;
  margin-left: 20px;
  line-height: 1;
}
#updates p.feed a {
  background: url(../img/icon-feed.gif) 0 48% no-repeat;
  padding: 2px;
  padding-left: 20px;
  min-height: 16px;
  color: #646059;
}
#updates input#list-email {
  width: 260px;
}
#updates button#btn-sign-up {
  vertical-align: middle;
  border: 0;
  padding: 0;
  width: 102px;
  height: 30px;
  background: url(../img/button-signup.png) no-repeat;
  text-indent: -9999em;
}
#lets-connect {
  float: left;
  width: 296px;
  min-height: 334px;
  background: url(../img/map.png) 50% 48px no-repeat;
}
#lets-connect address strong {
  display: block;
  padding-top: 1em;
  text-transform: uppercase;
  color: #666;
}
#lets-connect address .email {
  padding-right: 10px;
  margin-right: 10px;
}
ul.gallery {
  list-style: none;
  line-height: 0;
}
#hellocrush ul.gallery {
  margin-top: 20px;
  margin-bottom: 30px;
}
ul.gallery li {
  clear: both;
  position: relative;
  margin-bottom: 35px;
  padding: 4px 0;
  background: #d2d2c5 url(../img/bg-module.png) 100% 4px no-repeat;
  overflow: hidden;
}
#hellocrush ul.gallery li {
  background-position: 0 4px;
}
ul.gallery li h3 {
  float: right;
  margin: 19px 15px 6px;
  width: 325px;
  font-size: 1.25em;
  line-height: 1;
}
#hellocrush ul.gallery li h3 {
  float: left;
}
ul.gallery li p {
  margin: 0 15px 0 610px;
  font-size: .95em;
  line-height: 1.4;
}
#hellocrush ul.gallery li p {
  margin: 0 610px 0 15px;
}
ul.gallery li p.gallery-item-image, #hellocrush ul.gallery li p.gallery-item-image {
  margin: 0;
  line-height: 0;
}
ul.gallery li p.gallery-item-image img {
  float: left;
  margin-right: 4px;
}
#hellocrush ul.gallery li p.gallery-item-image img {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
ul.gallery li p.gallery-item-url {
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1;
}
ul.gallery li ul.gallery-item-thumbs {
  list-style: none;
  margin-left: 610px;
  position: absolute;
  bottom: 18px;
  left: 0;
}
ul.gallery li ul.gallery-item-thumbs li {
  clear: none;
  margin-bottom: 0;
  padding: 0;
  background: none;
  overflow: visible;
  display: inline;
}
ul.gallery li ul.gallery-item-thumbs li img {
  float: left;
  margin-right: 12px;
  border: 1px solid #cad6cb;
}
ul.gallery li ul.gallery-item-thumbs li a:hover img {
  border: 1px solid #3f6a79;
}
ul.gallery li ul.gallery-item-thumbs li a.active img {
  border: 1px solid #000;
}
#feature-content {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 4px solid #b2c6bf;
  border-width: 4px 0;
  position: relative;
  line-height: 0;
}
#feature-content #features, #feature-content img, #feature-content .feature-content {
  height: 240px !important;
}
#feature-content #features, #feature-content img {
  width: 950px !important;
}
#feature-content .feature a {
  display: block;
}
#feature-content .feature-content {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/bg-trans-dark.png);
  width: 328px;
  color: #fff;
  font-size: .9em;
  text-shadow: 1px 1px 1px #000;
}
#feature-content .feature-content a {
  color: #fff;
  font-style: italic;
  text-decoration: underline;
}
#feature-content h2 {
  margin: 30px 20px 10px;
  width: auto;
  height: auto;
  background: none;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", serif;
}
#feature-content p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.05em;
  line-height: 1.375;
}
#feature-content ul.features-menu {
  position: absolute;
  top: 200px;
  left: 224px;
  list-style: none;
  z-index: 50;
}
#feature-content ul.features-menu li {
  display: inline;
}
#feature-content ul.features-menu a {
  float: left;
  width: 42px;
  height: 30px;
  margin-right: 10px;
  background: url(../img/pagination.png) no-repeat;
  text-indent: -9999em;
}
#feature-content ul.features-menu a.previous {
  background-position: 0 0;
}
#feature-content ul.features-menu a.next {
  background-position: -52px 0;
}    
#feature-content ul.features-menu a.previous:hover {
  background-position: 0 -40px;
}
#feature-content ul.features-menu a.next:hover {
  background-position: -52px -40px;
}
#footer {
  clear: both;
  border-top: 1px solid #fff;
  background: url(../img/bg-weplusyou.png) 50% 0;
  color: #c1fff3;
  text-shadow: 1px 1px 3px #000;
}
#footer a {
  color: #fff;
  font-size: 1.1em;
  line-height: 1;
}
#footer a:hover {
  text-decoration: none;
  background: url(../img/bg-trans.png);
}
#footer-legal {
  background: #042b34;
}	
#footer #footer-legal p {
  margin: 0 auto;
  padding: 12px 0 10px;
  width: 960px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
}
.right_column li {
  padding: .125em 0;
}
.boost {
  position: relative;
  border-top: 1px solid #ddd7c6;
  margin-left: -15px;
  margin-right: -15px;
  /*background: url(../img/bg-shade.png);*/
  padding: 15px;
  font-weight: normal;
  font: italic 1.25em/1.375 Georgia, "Times New Roman", serif;
}
.boost strong {
  font-weight: normal;
}
.left_column .boost {
  margin-right: 15px;
}



/*	Fixes
...................................................................... */

#weplusyou li:after, #weplusyou .wrap:after, #updates .module:after, #content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#clients td, th,
#projects td, th    {
    padding: 5px;
    border-bottom: 1px solid #ddd7c6;
}
#projects table tbody td   {
    font-size: 12px;
}
td.last	{
    border-bottom: none;
}
table th    {
    font-weight: bold;
}
table	{
    border-top: 3px double #ddd7c6;
}
#clients table tbody tr:hover	{
    background: #042b34;
    color: #fff;
}
#contactus table h2	{
    width: 200px;
}
#contactus table    {
    margin-bottom: 20px;
}
#contactus table td	{
    padding-top: 10px;
}
ul.news	{
    height: 200px;
    overflow: auto;
    padding-bottom: 10px;
}
ul.news li  {
    background-color: #eee8aa;
    padding: 5px;
    margin: 0 0 5px 0;
}
ul.news li a	{
    color: inherit;
}
ul.news li a:hover  {
    color: #000;  
    text-decoration: none;
}
.banner_text	{
    position: absolute;
    top: 370px;
    left: 180px;
    font: 1.5em/1.375 Georgia, "Times New Roman", serif;
    color: #fff;
}
#clients .banner_text	{
    top: 400px;
    color: #666;
}
#projects .banner_text	{
    top: 340px;
}
